*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    
    height: 100vh;
    width: 100%;
    background: radial-gradient(circle, #24246e, #06051f);
}
.container-2{
    
    background: #fff;
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.to-do{
    font-size: 25px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.to-do img{
    width: 40px;
    margin-left: 10px;
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
}
#input-text{
    flex: 1;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 100px;
    background: rgba(77, 76, 76, 0.2);;
    padding: 0.9rem;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.add-btn{
    border-radius: 30px;
    outline: none;
    border: none;
    background: #ff5945;
    padding: 16px 50px;
    color: white;
    height: 47px;
    position: relative;
    left: -8%;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 17px ;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}
ul li::before{
    content: "";
    height: 28px;
    width: 28px;
    position: absolute;
    border-radius: 50%;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;
    left: 725px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
    transition: all 0.6s ease-out;
}
ul li.checked:before{
    background-image: url(./images/checked.png);

}
ul li span{
    
    height: 40px;
    width: 40px;
    position: absolute;
    right: 46rem;
    border-radius: 50%;
    /* background: #555; */
}